.WorkHistoryPage {
  display: flex;
}

.WorkHistoryPage main {
  margin: 0 16px 16px;
}

.WorkHistoryPage aside {
  display: none;
  flex-shrink: 0;
  flex-grow: 0;
  margin: 16px;
  width: 288px;
}

.WorkHistoryPage .YearsOfExperience {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}

.WorkHistoryPage ul.WorkHistoryList {
  list-style: none;
  margin: 0;
  padding: 0;
}
.WorkHistoryPage ul.WorkHistoryList ul li {
  margin-bottom: 16px;
}

.WorkHistoryPage ul.WorkHistoryList li {
  animation: 200ms ease-out 100ms backwards WorkHistory-item-appear;
}

.WorkHistoryPage ul.WorkHistoryList li:nth-child(2) {
  animation-delay: 200ms;
}

.WorkHistoryPage ul.WorkHistoryList li:nth-child(3) {
  animation-delay: 300ms;
}

.WorkHistoryPage ul.WorkHistoryList li:nth-child(4) {
  animation-delay: 400ms;
}

.WorkHistoryPage ul.WorkHistoryList li:nth-child(5) {
  animation-delay: 500ms;
}

.WorkHistoryPage ul.WorkHistoryList li:nth-child(6) {
  animation-delay: 600ms;
}

.WorkHistoryPage ul.WorkHistoryList li:nth-child(7) {
  animation-delay: 700ms;
}

.WorkHistoryPage ul.WorkHistoryList li:nth-child(8) {
  animation-delay: 800ms;
}

.WorkHistoryPage ul.WorkHistoryList li:nth-child(9) {
  animation-delay: 900ms;
}

.WorkHistoryPage ul.WorkHistoryList li:nth-child(10) {
  animation-delay: 1s;
}

@keyframes WorkHistory-item-appear {
  from {
    opacity: 0.0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1.0;
    transform: translateX(0);
  }
}

@media (min-width: 768px) {
  .WorkHistoryPage aside {
    display: block;
  }

  .WorkHistoryPage .YearsOfExperience {
    text-align: left;
  }
}
