.StackItem {
  margin: 8px;
  width: 32px;
  text-align: center;
}

.StackItem .logo {
  display: flex;
  align-items: center;
  height: 32px;
  width: 32px;
}

.StackItem .logo img {
  display: block;
  margin: auto;
  max-width: 32px;
  max-height: 32px;
}

.StackItem .name {
  display: none;
}

@media (min-width: 768px) {
  .StackItem {
    position: relative;
    margin: 16px;
    padding-bottom: 26px;
    width: 64px;
  }

  .StackItem .logo {
    height: 64px;
    width: 64px;
  }

  .StackItem .logo img {
    max-width: 64px;
    max-height: 64px;
  }

  .StackItem .name {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    height: 18px;
    width: 64px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
