.Header {
  width: 100%;
  height: 41px;
  background: #121212;
  border-bottom: 1px solid #4A4A4A;
  transition: height 500ms ease;
}

.Header.open {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
}

.Header #primary-nav-toggle {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
}

.Header .brand {
  display: block;
  font-weight: 700;
  font-size: 24px;
  padding: 8px 16px;
  margin: 0;
}

.Header a.brand:link,
.Header a.brand:active,
.Header a.brand:hover,
.Header a.brand:visited {
  color: #fff;
  text-decoration: none;
}

.Header .brand.regular {
  display: none;
  width: 180px;
}

.Header .brand.compact {
  position: absolute;
  top: 0;
  left: calc(50% - 21px)
}

.Header .nav.primary {
  display: none;
}

.Header.open .nav.primary {
  display: block;
}

.Header .nav.social {
  position: absolute;
  top: 8px;
  right: 16px;
}

@media (min-width: 768px) {
  .Header .brand.regular {
    display: block;
  }

  .Header .brand.compact {
    display: none;
  }

  .Header #primary-nav-toggle {
    display: none;
  }

  .Header .nav.primary {
    display: block;
    position: absolute;
    top: 0;
    left: 204px;
  }
}

@media (min-width: 1440px) {
  .Header .brand.regular {
    position: absolute;
    top: 0;
    left: calc((100% - 1440px) / 2);
  }

  .Header .nav.primary {
    left: calc((100% - 1440px) / 2 + 204px);
  }

  .Header .nav.social {
    position: absolute;
    top: 8px;
    right: calc((100% - 1440px) / 2 + 16px);
  }
}
