.Stack {
  display: flex;
}

.Stack main {
  margin: 0 16px 16px;
  width: 100%;
  box-sizing: border-box;
}

.Stack aside {
  display: none;
  flex-shrink: 0;
  flex-grow: 0;
  margin: 16px;
  width: 288px;
}

.Stack .StackList {
  animation: 200ms ease-out 100ms backwards StackList-appear;
}

.Stack .StackList:nth-child(2) {
  animation-delay: 200ms;
}

.Stack .StackList:nth-child(3) {
  animation-delay: 300ms;
}

.Stack .StackList:nth-child(4) {
  animation-delay: 400ms;
}

.Stack .StackList:nth-child(5) {
  animation-delay: 500ms;
}

.Stack .StackList:nth-child(6) {
  animation-delay: 600ms;
}

.Stack .StackList:nth-child(7) {
  animation-delay: 700ms;
}

.Stack .StackList:nth-child(8) {
  animation-delay: 800ms;
}

.Stack .StackList:nth-child(9) {
  animation-delay: 900ms;
}

.Stack .StackList:nth-child(10) {
  animation-delay: 1s;
}

@keyframes StackList-appear {
  from {
    opacity: 0.0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1.0;
    transform: translateY(0);
  }
}

@media (min-width: 768px) {
  .Stack aside {
    display: block;
  }

  .Stack main {
    margin: 0 16px 16px;
    width: calc(100% - 288px);
    box-sizing: border-box;
  }
}
