.Page {
  box-sizing: border-box;
  padding-top: 41px;
  min-height: 100%;
}

.Page .Header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 500;
}

@media (min-width: 1440px) {
  .Page {
    width: 1440px;
    margin: 0 auto;
  }
}
