.ExperienceItem {
  position: relative;
  padding-left: 44px;
}

.ExperienceItem .logo,
.ExperienceItem .name,
.ExperienceItem .position,
.ExperienceItem .timespan {
  display: block;
}

.ExperienceItem .logo {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  height: 32px;
  width: 32px;
}

.ExperienceItem .logo img {
  display: block;
  margin: auto;
  max-width: 32px;
  max-height: 32px;
}

.ExperienceItem .name {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 4px;
}

.ExperienceItem .position {
  font-size: 14px;
}

.ExperienceItem .timespan {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
  color: #4A90E2;
}

.ExperienceItem .position,
.ExperienceItem .description {
  color: rgba(255, 255, 255, 0.7)
}

@media (min-width: 768px) {
  .ExperienceItem {
    padding-left: 80px;
  }

  .ExperienceItem .logo {
    height: 64px;
    width: 64px;
  }

  .ExperienceItem .logo img {
    max-width: 64px;
    max-height: 64px;
  }
}
