.Home {
  background: #000;
}

.Home h1,
.Home main {
  text-align: center;
}

.Home main {
  padding: 16px;
}

.Home .me {
  display: block;
  border-radius: 96px;
  border: 4px solid #979797;
  width: 192px;
  max-width: 100%;
  margin: 0 auto;
}

.Home .laptop {
  display: block;
  margin: 0 auto -12%;
  width: 90%;
}

.Home .introduction {
  margin: 0 auto;
  width: 80%;
  max-width: 440px;
}

.Home .greeting {
  font-family: 'Open Sans';
  font-size: 14px;
}

@media (min-width: 768px) {
  .Home .greeting {
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  .Home .laptop {
    margin-bottom: -128px;
    width: 922px;
  }
}
