.HomePage {
  background: #000;
}

.HomePage h1,
.HomePage main {
  text-align: center;
}

.HomePage main {
  padding: 16px;
}

.HomePage .me {
  display: block;
  border-radius: 96px;
  border: 4px solid #979797;
  width: 192px;
  max-width: 100%;
  margin: 0 auto;
}

.HomePage .laptop {
  display: block;
  margin: 0 auto -12%;
  width: 90%;
}

.HomePage .introduction {
  margin: 0 auto;
  max-width: 500px;
}

.HomePage .greeting {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

@media (min-width: 224px) {
  .HomePage .me {
    height: 192px;
  }
}

@media (min-width: 768px) {
  .HomePage .me {
    font-size: 24px;
    margin-top: 16px;
  }

  .HomePage .greeting {
    font-size: 24px;
  }
}

@media (min-width: 1024px) {
  .HomePage .laptop {
    margin-bottom: -160px;
    width: 1024px;
    height: 460px;
  }
}
